{%extends 'base.html'%} {%block title%} Your notes {% endblock %} 
{% load static %}


  {%block content%}
    <form method="post" action="/notes/save-note/">
        {% csrf_token %}
        <h1 id="title" contenteditable="true" spellcheck="false"> Title </h1>
        <div id="notesBox"  class="glowing-text" contenteditable="true" spellcheck="false"></div>
        <div id="boxesContainer">   
          <button type="submit" class="btn-submit" onclick="saveContent()">Save</button>
        </div>
          <!-- Hidden input to store content -->
        <input type="hidden" name="title" id="hiddenTitle">
          <!-- Hidden input to store content -->
        <input type="hidden" name="content" id="hiddenContent">
    </form>
    <script>
        function saveContent() {
            let content = document.getElementById("notesBox").innerHTML; // Get HTML content
            let title = document.getElementById("title").innerHTML; // GET title content
            document.getElementById("hiddenTitle").value = title;  // Save to hidden input
            document.getElementById("hiddenContent").value = content;  // Save to hidden input
        }
  </script>

  {% endblock %}


